.room-search-form {
  display: flex;
  height: 50px;
  align-items: center;
  color: white;
  background-color: black;
  padding: 5px 12px;

  section {
    margin-right: 12px;
  }

  button {
    color: #fff;
    margin-left: auto;
    margin-right: 20px;
    font-size: 1rem;
    padding: 6px 18px;
    background-color: transparent;
    border: 1px solid white;
  }
}
